# import boto3 to connect to aws

In [2]:
import boto3

In [4]:

with open('awscred.txt')as f:
    lines = f.read().splitlines()

In [5]:
s3 = boto3.client(
    's3',
    aws_access_key_id=lines[0],
    aws_secret_access_key=lines[1],
)

# Creating a bucket in AWS s3 storage

In [4]:
s3.create_bucket(
    Bucket='phani06062020',
    CreateBucketConfiguration= {'LocationConstraint': 'ap-south-1'}
)

{'ResponseMetadata': {'RequestId': 'C95F6C9065F1D163',
  'HostId': 'vVjm6/WWjafrdzDwHUKRvTU+7TOLtSsO5rcMtx3HE7HsVuP2LL2PcVbAg+TAqXJPVw8pBkX6f5k=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'vVjm6/WWjafrdzDwHUKRvTU+7TOLtSsO5rcMtx3HE7HsVuP2LL2PcVbAg+TAqXJPVw8pBkX6f5k=',
   'x-amz-request-id': 'C95F6C9065F1D163',
   'date': 'Sat, 06 Jun 2020 16:56:20 GMT',
   'location': 'http://phani06062020.s3.amazonaws.com/',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'Location': 'http://phani06062020.s3.amazonaws.com/'}

In [6]:
response = s3.list_buckets()

for bucket in response['Buckets']:
    print(bucket)

{'Name': 'phani06062020', 'CreationDate': datetime.datetime(2020, 6, 6, 16, 56, 21, tzinfo=tzutc())}

# Uploading the csv data file to the bucket

In [11]:
s3.upload_file("HistoricalQuotes.csv",'phani06062020',"stockData1.csv")

In [13]:
import pandas as pd
data = pd.read_csv("s3://phani06062020/stockData1.csv")

In [14]:
data.head()

         Date  Close/Last   Volume        Open        High         Low
0    06-01-20  $1,431.82   1217140  $1,418.39   $1,437.96      $1,418
1  05/29/2020  $1,428.92   1838059  $1,416.94   $1,432.57   $1,413.35
2  05/28/2020  $1,416.73   1693976  $1,396.86   $1,440.84      $1,396
3  05/27/2020  $1,417.84   1686142  $1,417.25   $1,421.74   $1,391.29
4  05/26/2020  $1,417.02   2060643  $1,437.27      $1,441   $1,412.13