In [63]:
#Importing modules

import boto3
import pandas as pd

In [64]:
#creating client obj for s3

client=boto3.client('s3')

In [65]:
path = 's3://phani06062020/stockData1.csv'

In [66]:
df = pd.read_csv(path)

In [5]:
df.head()

         Date  Close/Last   Volume        Open        High         Low
0    06-01-20  $1,431.82   1217140  $1,418.39   $1,437.96      $1,418
1  05/29/2020  $1,428.92   1838059  $1,416.94   $1,432.57   $1,413.35
2  05/28/2020  $1,416.73   1693976  $1,396.86   $1,440.84      $1,396
3  05/27/2020  $1,417.84   1686142  $1,417.25   $1,421.74   $1,391.29
4  05/26/2020  $1,417.02   2060643  $1,437.27      $1,441   $1,412.13

# EXPLORATORY DATA ANALYSIS

In [67]:
df.count()

Date           1259
 Close/Last    1259
 Volume        1259
 Open          1259
 High          1259
 Low           1259
dtype: int64

In [68]:
df.dtypes

Date           object
 Close/Last    object
 Volume         int64
 Open          object
 High          object
 Low           object
dtype: object

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         1259 non-null   object
 1    Close/Last  1259 non-null   object
 2    Volume      1259 non-null   int64
 3    Open        1259 non-null   object
 4    High        1259 non-null   object
 5    Low         1259 non-null   object
dtypes: int64(1), object(5)
memory usage: 59.1+ KB

Converting date to %m/%d/%y

In [70]:
df['Date'] = pd.to_datetime(df.Date)
df['Date'] = df['Date'].dt.strftime('%m/%d/%Y')
df['Date']

0       06/01/2020
1       05/29/2020
2       05/28/2020
3       05/27/2020
4       05/26/2020
           ...
1254    06/08/2015
1255    06/05/2015
1256    06/04/2015
1257    06/03/2015
1258    06/02/2015
Name: Date, Length: 1259, dtype: object

In [71]:
df.columns.tolist()

['Date', ' Close/Last', ' Volume', ' Open', ' High', ' Low']

In [72]:
df = df.rename(columns={df.columns[1] : 'Close'})
df = df.rename(columns={df.columns[3] : 'Open'})
df = df.rename(columns={df.columns[4] : 'High'})
df = df.rename(columns={df.columns[5] : 'Low'})
df = df.rename(columns={df.columns[2] : 'Volume'})

# Converting columns of object types to numeric

In [73]:
df['Close'] = df['Close'].str.replace(',','').str.replace('$','').astype('float')

In [74]:
df['Open'] = df['Open'].str.replace(',','').str.replace('$','').astype('float')
df['High'] = df['High'].str.replace(',','').str.replace('$','').astype('float')
df['Low'] = df['Low'].str.replace(',','').str.replace('$','').astype('float')

In [78]:
df.dtypes

Date       object
Close     float64
Volume      int64
Open      float64
High      float64
Low       float64
dtype: object

In [77]:
#df['Close'] = df['Close'].str.replace('$', '').astype(float)
#df['Open'] = df['Open'].str.replace('$', '').astype(float)
#df['High'] = df['High'].str.replace('$', '').astype(float)
#df['Low'] = df['Low'].str.replace('$', '').astype(float)

In [79]:
df.head()

         Date    Close   Volume     Open     High      Low
0  06/01/2020  1431.82  1217140  1418.39  1437.96  1418.00
1  05/29/2020  1428.92  1838059  1416.94  1432.57  1413.35
2  05/28/2020  1416.73  1693976  1396.86  1440.84  1396.00
3  05/27/2020  1417.84  1686142  1417.25  1421.74  1391.29
4  05/26/2020  1417.02  2060643  1437.27  1441.00  1412.13

# Discriptive statistics of data set

In [80]:
df.describe()

             Close        Volume         Open         High          Low
count  1259.000000  1.259000e+03  1259.000000  1259.000000  1259.000000
mean    979.484162  1.716753e+06   978.958658   988.005663   970.119929
std     231.364469  8.602090e+05   230.802023   233.560593   228.683280
min     516.830000  3.475180e+05   519.500000   522.730000   515.180000
25%     768.785000  1.207952e+06   769.000000   773.860000   763.315000
50%    1019.270000  1.487378e+06  1017.210000  1031.580000  1006.290000
75%    1161.890000  1.961882e+06  1157.215000  1172.800000  1146.045000
max    1526.690000  1.115350e+07  1525.070000  1532.110000  1521.400000

# Checking null values in cloumns

In [81]:
df.isnull().sum()

Date      0
Close     0
Volume    0
Open      0
High      0
Low       0
dtype: int64

#Finding the correlation

In [82]:
df.corr()

           Close    Volume      Open      High       Low
Close   1.000000 -0.166342  0.998435  0.999154  0.999221
Volume -0.166342  1.000000 -0.161560 -0.148881 -0.179431
Open    0.998435 -0.161560  1.000000  0.999272  0.999105
High    0.999154 -0.148881  0.999272  1.000000  0.998754
Low     0.999221 -0.179431  0.999105  0.998754  1.000000

# Finding out the outliers

Identifying outliers with Interquartilerange(IQR)

In [84]:
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1
print(IQR)

Close        393.105
Volume    753930.500
Open         388.215
High         398.940
Low          382.730
dtype: float64

In [86]:
df1 = df[['Close', 'Volume', 'Open', 'High', 'Low']]

In [87]:
df1.head()

     Close   Volume     Open     High      Low
0  1431.82  1217140  1418.39  1437.96  1418.00
1  1428.92  1838059  1416.94  1432.57  1413.35
2  1416.73  1693976  1396.86  1440.84  1396.00
3  1417.84  1686142  1417.25  1421.74  1391.29
4  1417.02  2060643  1437.27  1441.00  1412.13

In [88]:
lower_limit = (Q1 - 1.5 * IQR)
lower_limit

Close       179.1275
Volume    77055.7500
Open        186.6775
High        175.4500
Low         189.2200
dtype: float64

In [89]:
upper_limit = (Q3 + 1.5 * IQR)
upper_limit

Close     1.751547e+03
Volume    3.092778e+06
Open      1.739538e+03
High      1.771210e+03
Low       1.720140e+03
dtype: float64

In [90]:
print((df < lower_limit) | (df > upper_limit))

      Close   Date   High    Low   Open  Volume
0     False  False  False  False  False   False
1     False  False  False  False  False   False
2     False  False  False  False  False   False
3     False  False  False  False  False   False
4     False  False  False  False  False   False
...     ...    ...    ...    ...    ...     ...
1254  False  False  False  False  False   False
1255  False  False  False  False  False   False
1256  False  False  False  False  False   False
1257  False  False  False  False  False   False
1258  False  False  False  False  False   False

[1259 rows x 6 columns]

In [91]:
median = df.quantile(0.50)
median

Close        1019.27
Volume    1487378.00
Open         1017.21
High         1031.58
Low          1006.29
Name: 0.5, dtype: float64

In [92]:
((df < (Q1 - 1.5 * IQR)) | (df > (Q3 + 1.5 * IQR))).sum()

Close      0
Date       0
High       0
Low        0
Open       0
Volume    83
dtype: int64

In [93]:
df

            Date    Close   Volume     Open     High      Low
0     06/01/2020  1431.82  1217140  1418.39  1437.96  1418.00
1     05/29/2020  1428.92  1838059  1416.94  1432.57  1413.35
2     05/28/2020  1416.73  1693976  1396.86  1440.84  1396.00
3     05/27/2020  1417.84  1686142  1417.25  1421.74  1391.29
4     05/26/2020  1417.02  2060643  1437.27  1441.00  1412.13
...          ...      ...      ...      ...      ...      ...
1254  06/08/2015   526.83  1523960   533.31   534.12   526.24
1255  06/05/2015   533.33  1375008   536.35   537.20   532.52
1256  06/04/2015   536.70  1346044   537.76   540.59   534.32
1257  06/03/2015   540.31  1716836   539.91   543.50   537.11
1258  06/02/2015   539.18  1936721   532.93   543.00   531.33

[1259 rows x 6 columns]

#stopping the sparkcontext if running any

In [94]:
sc.stop()

#Importing spark modules

In [95]:
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext
sc= SparkContext()
sqlContext = SQLContext(sc)

In [96]:
data = sqlContext.createDataFrame(df)

In [97]:
data.show()

+----------+-------+-------+-------+-------+-------+
|      Date|  Close| Volume|   Open|   High|    Low|
+----------+-------+-------+-------+-------+-------+
|06/01/2020|1431.82|1217140|1418.39|1437.96| 1418.0|
|05/29/2020|1428.92|1838059|1416.94|1432.57|1413.35|
|05/28/2020|1416.73|1693976|1396.86|1440.84| 1396.0|
|05/27/2020|1417.84|1686142|1417.25|1421.74|1391.29|
|05/26/2020|1417.02|2060643|1437.27| 1441.0|1412.13|
|05/22/2020|1410.42|1309408|1396.71|1412.76|1391.83|
|05/21/2020| 1402.8|1385194| 1408.0|1415.49|1393.45|
|05/20/2020|1406.72|1655375|1389.58|1410.42|1387.25|
|05/19/2020|1373.49|1280649| 1387.0| 1392.0|1373.49|
|05/18/2020|1383.94|1823964|1361.75|1392.33|1354.25|
|05/15/2020|1373.19|1707747| 1350.0|1374.48| 1339.0|
|05/14/2020|1356.13|1603077|1335.02|1357.42|1323.91|
|05/13/2020|1349.33|1812585|1377.05|1385.48| 1328.4|
|05/12/2020|1375.74|1390600|1407.12| 1415.0|1374.77|
|05/11/2020|1403.26|1412116|1378.28|1416.53|1377.15|
|05/08/2020|1388.37|1388068|1383.13|1398.76|1375.48|
|05/07/2020|1372.56|1399759|1365.94| 1377.6|1355.27|
|05/06/2020| 1347.3|1215423|1361.69|1371.12|1347.29|
|05/05/2020|1351.11|1651533|1337.92|1373.94|1337.46|
|05/04/2020| 1326.8|1504017|1308.23|1327.66| 1299.0|
+----------+-------+-------+-------+-------+-------+
only showing top 20 rows

In [99]:
data.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: long (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)

# Importing linear regression module from pyspark mllib

In [117]:
from pyspark.ml.regression import LinearRegression
from pyspark.ml.evaluation import RegressionEvaluator

In [101]:
data

DataFrame[Date: string, Close: double, Volume: bigint, Open: double, High: double, Low: double]

In [102]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler

# converting the dependent variables to single column called features using vectorAssembler

In [103]:
featureassembler=VectorAssembler(inputCols=["Open","High","Low"],outputCol="Features")

In [105]:
output=featureassembler.transform(data)

In [106]:
output.show()

+----------+-------+-------+-------+-------+-------+--------------------+
|      Date|  Close| Volume|   Open|   High|    Low|            Features|
+----------+-------+-------+-------+-------+-------+--------------------+
|06/01/2020|1431.82|1217140|1418.39|1437.96| 1418.0|[1418.39,1437.96,...|
|05/29/2020|1428.92|1838059|1416.94|1432.57|1413.35|[1416.94,1432.57,...|
|05/28/2020|1416.73|1693976|1396.86|1440.84| 1396.0|[1396.86,1440.84,...|
|05/27/2020|1417.84|1686142|1417.25|1421.74|1391.29|[1417.25,1421.74,...|
|05/26/2020|1417.02|2060643|1437.27| 1441.0|1412.13|[1437.27,1441.0,1...|
|05/22/2020|1410.42|1309408|1396.71|1412.76|1391.83|[1396.71,1412.76,...|
|05/21/2020| 1402.8|1385194| 1408.0|1415.49|1393.45|[1408.0,1415.49,1...|
|05/20/2020|1406.72|1655375|1389.58|1410.42|1387.25|[1389.58,1410.42,...|
|05/19/2020|1373.49|1280649| 1387.0| 1392.0|1373.49|[1387.0,1392.0,13...|
|05/18/2020|1383.94|1823964|1361.75|1392.33|1354.25|[1361.75,1392.33,...|
|05/15/2020|1373.19|1707747| 1350.0|1374.48| 1339.0|[1350.0,1374.48,1...|
|05/14/2020|1356.13|1603077|1335.02|1357.42|1323.91|[1335.02,1357.42,...|
|05/13/2020|1349.33|1812585|1377.05|1385.48| 1328.4|[1377.05,1385.48,...|
|05/12/2020|1375.74|1390600|1407.12| 1415.0|1374.77|[1407.12,1415.0,1...|
|05/11/2020|1403.26|1412116|1378.28|1416.53|1377.15|[1378.28,1416.53,...|
|05/08/2020|1388.37|1388068|1383.13|1398.76|1375.48|[1383.13,1398.76,...|
|05/07/2020|1372.56|1399759|1365.94| 1377.6|1355.27|[1365.94,1377.6,1...|
|05/06/2020| 1347.3|1215423|1361.69|1371.12|1347.29|[1361.69,1371.12,...|
|05/05/2020|1351.11|1651533|1337.92|1373.94|1337.46|[1337.92,1373.94,...|
|05/04/2020| 1326.8|1504017|1308.23|1327.66| 1299.0|[1308.23,1327.66,...|
+----------+-------+-------+-------+-------+-------+--------------------+
only showing top 20 rows

In [107]:
finalized_data = output.select("features","Close")

In [109]:
finalized_data.show()

+--------------------+-------+
|            features|  Close|
+--------------------+-------+
|[1418.39,1437.96,...|1431.82|
|[1416.94,1432.57,...|1428.92|
|[1396.86,1440.84,...|1416.73|
|[1417.25,1421.74,...|1417.84|
|[1437.27,1441.0,1...|1417.02|
|[1396.71,1412.76,...|1410.42|
|[1408.0,1415.49,1...| 1402.8|
|[1389.58,1410.42,...|1406.72|
|[1387.0,1392.0,13...|1373.49|
|[1361.75,1392.33,...|1383.94|
|[1350.0,1374.48,1...|1373.19|
|[1335.02,1357.42,...|1356.13|
|[1377.05,1385.48,...|1349.33|
|[1407.12,1415.0,1...|1375.74|
|[1378.28,1416.53,...|1403.26|
|[1383.13,1398.76,...|1388.37|
|[1365.94,1377.6,1...|1372.56|
|[1361.69,1371.12,...| 1347.3|
|[1337.92,1373.94,...|1351.11|
|[1308.23,1327.66,...| 1326.8|
+--------------------+-------+
only showing top 20 rows

# Training and testing the model

In [110]:
train_data,test_data=finalized_data.randomSplit([0.80,0.20])

In [111]:
regressor=LinearRegression(featuresCol='features', labelCol='Close')
regressor=regressor.fit(train_data)

Dispalying the coefficients i.e slope m1,m2,m3

In [112]:
regressor.coefficients

DenseVector([-0.5713, 0.8131, 0.7575])

In [113]:
regressor.intercept

0.575943787087348

In [114]:
pred_results=regressor.evaluate(test_data)

In [115]:
pred_results.predictions.show()

+--------------------+------+-----------------+
|            features| Close|       prediction|
+--------------------+------+-----------------+
|[529.36,538.36,52...|536.69|536.8824789761328|
|[529.37,530.98,52...|529.26|527.6563385026075|
|[532.88,547.11,53...|546.55|544.2967706576342|
|[539.91,543.5,537...|540.31|540.9126543537212|
|[546.76,565.85,54...| 561.1|562.4448318562587|
|[573.0,614.0,565.05]|589.61|600.4984268064258|
|[597.28,605.0,590...|594.97|598.3744717977121|
|[607.2,627.34,603...|626.91|620.6518560817318|
|[610.34,614.61,58...|594.89|598.0907310954345|
|[610.35,631.71,59...|628.62|619.3149173098751|
|[612.49,616.31,60...|614.66|609.4104057029652|
|[616.64,627.32,61...| 625.8|622.2642413350526|
|[617.0,619.71,602...|606.25|608.6135716957714|
|[622.05,628.93,62...|622.36|626.2395217341381|
|[628.8,633.36,622...|631.93|627.9925867886992|
|[659.24,668.88,65...|663.02|662.4818160004908|
|[661.27,663.63,64...|644.28| 647.955270114638|
|[663.08,665.0,652...|659.56|656.5874496011718|
|[664.04,664.72,64...|650.28|649.6830122156197|
|[672.32,699.9,668...|678.11|692.1707532552863|
+--------------------+------+-----------------+
only showing top 20 rows

In [123]:
from pyspark.ml.evaluation import RegressionEvaluator

try :
    # training Summary
    trainingSummary=regressor.summary
    print("RMSE: %f"%trainingSummary.rootMeanSquaredError)
    print("r2: %f" % trainingSummary.r2)
except:
    print(" Model Test have a Problem")

RMSE: 6.123842
r2: 0.999303

# Saving model

In [125]:
regressor.save("StockPrice_Model")
print("Succesfully Saved")

Succesfully Saved

In [1]:
#import pickle
#Pkl_Filename = "Regressor_Model"
#with open(Pkl_Filename, 'wb') as f:
 #   pickle.dump(regressor, f)